.home {
  padding: 50px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;

}

.home h1{
  margin-top: 0px;
  margin-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4rem;
  background: rgba(212, 212, 212, 0.5);
}



.categories {
  display: flex;
  justify-content: center;
}

.categories h3 {
  text-decoration: underline;
  font-size: 2rem;
  color: #333;
  padding-bottom: 30px;
}

.categories ul {
  list-style-type: none;
}

.categories li {
  display: inline-block;
  margin-left: 60px;
  margin-right: 100px;
}

.categories a {
  font-size: 2rem;
  color: black;
}

.categories a:hover {
  border-bottom: 3px solid black;
  color: gray;
}

.popular-books {
  margin-top: 50px;
  text-align: center;
}

.popular-books h3 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  background-color: #fff;
  padding: 20px;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.book-card h4 {
  font-size: 1.2rem;
  color: #333;
}

.book-card p {
  font-size: 1rem;
  color: #555;
}

.book-card a {
  display: inline-block;
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.book-card a:hover {
  text-decoration: underline;
}
